@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    font-family: "Nunito Sans", sans-serif;
}

h1 {
    font-family: Montserrat;
}

body {
    background-color: rgb(233, 235, 238);
}

/* div {
    border: 2px solid red;
} */

div.text-bubble {
    background-color: white;
    border-radius: 5px;
}

div.flex-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

div.menu {
    display: flex;
    height: 100px;
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
}

div.main {
    display: flex;
    height: 500px;
    width: 100%;
}

div.profile-picture {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture img{
    width: 100px;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid #444444;
}

div.tab-section {
    display: flex;
    justify-content: center;
    align-items:last baseline;
    width: 60%;
    column-gap: 10px;
}

div.tab {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 10px 0 0;
    cursor: pointer;
    background-color: white;
}

div.tab.selected-tab {
    background-color: #444444;
    color: white;
    border-color: #444444;
    border-width: 5px;
    box-shadow: 5px -5px 8px #686767;
}

div.tab p:hover {
    text-decoration: underline;
}

div.tab > p {
    font-weight: 600;
    font-size: 18px;
}

div.tab.selected-tab > p {
    font-weight: 900;
}

div.page {
    height: 100%;
    width: 100%;
    background-color: #444444;
    display: none;
}

div.selected-page {
    display:flex;
}
