/* html elements */
div {
    margin-bottom: 50px;
}

ul {
    margin-left:250px;
    margin-right:250px;
}

/* Name and bio*/
.name {
    text-align: center;
    font-family:'Montserrat', sans-serif;
    color: #4d4d4d;

}
.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #737373;
}

.mathMode {
    text-align: center;
}

.bio {
    margin-left:250px;
    margin-right:250px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

/* Projects */
.projectsList {
    margin-left:250px;
    margin-right:250px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

/* LaTex */
.texExample {
    margin-left:250px;
    margin-right:250px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

/* for sidebar menu on homepage */
.sidebar{
    background: rgb(58, 157, 214);
    position: fixed;
    top:0;
    left:0;
    width:200px;
    height:100%;
    padding:20px 0;
    transition: all 0.5s ease;
}