/* html elements */
.projects {
    margin-left:400px;
    margin-right:100px;
}

/* Name and bio*/
.name {
    text-align: center;
    font-family:'Montserrat', sans-serif;
    color: #4d4d4d;

}
.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #737373;
}

.mathMode {
    text-align: center;
}

.bio {
    margin-left:400px;
    margin-right:100px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

/* Projects */
.projectsList {
    margin-left:400px;
    margin-right:100px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

/* LaTex */
.texExample {
    margin-left:400px;
    margin-right:100px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

/* for sidebar menu on homepage */
.sidebar{
    background: rgb(66, 136, 177);
    position: fixed;
    top:0;
    left:0;
    width:300px;
    height:100%;
    padding:20px 0;
    transition: all 0.5s ease;
}

.sidebar a{
    color: rgb(206, 240, 253);
    font-size:24pt;
}

.sidebar a:link{
    text-decoration : none;
}

.sidebar a:visited{
    text-decoration : none;
}

.sidebar ul li a:hover{
    color:#4d4d4d;
}

.sidebar a:active{
    text-decoration : none;
}

/* bottom bar*/
.bottombar{
    background: rgb(82, 82, 82);
    margin-top: 200px;
    right:0;
    bottom:0;
    height:100px;
    width:100%;
}